@model DIERENTUIN13.Models.Enclosure

@{
    ViewData["Title"] = "Enclosure Details";
}

<h1>Enclosure Details</h1>

<div>
    <h4>Enclosure</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HabitatType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HabitatType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecurityLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size) m²
        </dd>
        <dt class="col-sm-2">
            ZooName
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zoo.Name)
        </dd>
    </dl>
</div>

<div>
    <h4>Animals in this Enclosure</h4>
    <ul>
        @foreach (var animal in Model.Animals)
        {
            <li>@animal.Name</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
