@model DIERENTUIN13.Models.Zoo

@{
    ViewData["Title"] = "Zoo Details";
}

<h1>Zoo Details</h1>

<div>
    <h4>Zoo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <h4>Enclosures in this Zoo</h4>
    <ul>
        @foreach (var enclosure in Model.Enclosures)
        {
            <li>@enclosure.Id - @enclosure.Name</li>
        }
    </ul>
</div>

<div>
    <h4>Animals in this Zoo</h4>
    <ul>
        @foreach (var enclosure in Model.Enclosures)
        {
            @foreach (var animal in enclosure.Animals)
            {
                <li>@animal.Id - @animal.Name</li>
            }
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



